@charset "utf-8";

input.simpleSuggest {
  position: relative;
}

#suggest {
  position: absolute;
  border: 1px solid #94c1eb;
  overflow: auto;
  background-color: white;
  z-index: 2;
}

#suggestList {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.suggestListElements {
  font-size: 12px;
  padding-left: 2px;
  padding-right: 2px;
}

.suggestListElements:hover {
  background-color: #b0d4ff;
}

.suggestListElements:focus {
  background-color: #b0d4ff;
  outline-width: 0;
  outline-style: none;
}
